<form action='/winner'>
  <label for="player_one">Type Player One's Move:</label>
  <input type="password" id="player_one" name="player_one" class="form-control">
  <label for="player_two">Enter Player Two's Move:</label>
  <input type="password" id="player_two" name="player_two" class="form-control">
  <input type="hidden" name="player" value="two">
  <button type="submit" name="button">Play</button>
</form>
