<form action="/form">
  <label for="playerOne">One Player</label>
  <input type="radio" name="playerOne" value=true>
  <label for="playerTwo">Two Player</label>
  <input type="radio" name="playerTwo" value=true><br>
  <button type="submit" name="button">Go</button>
</form>
