

  <h1>Winner: <span id="whoWon"><%= @winner %></span></h1>


  <!-- <script>
   var isWinner = <%= @winner %>;
   if (isWinner === true) {
     document.getElementById("whoWon").textContent = "Player One!";
   }
   else {
    document.getElementById("whoWon").textContent = "Player Two!";
   }
  </script> -->
